* {
    box-sizing: border-box;
}

body {
    color: #142d4e;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b6c8dd;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/*HEADER STYLE STARTS*/
header {
    background-color: #142d4e;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 10px 0;
    padding: 3px 3px 3px 50px;
    background-color: #b6c8dd;
    
    
}

header a {
    text-decoration: none;

}

header nav {
    margin:25px 50px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    color: #b6c8dd;
    
}
.link {
    border-bottom: 3px solid #b6c8dd;
}
/*HEADER STYLE ENDS*/

/*HERO STYLE*/
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/blue-keyboard.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}

.hero h3 {
    background-color: #b6c8dd;
    width: 26%;
    padding: 5px;
    text-align: center;
    left: 1;
    right: 0;
    margin: 0 50px;
    top: 44%;
    position: absolute;
}
/*HERO STYLE ENDS*/

/*PAGE STYLE STARTS CONTENT AND HEADINGS*/
.wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }


  
.pageSection {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.pageSection > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid #142d4e;
    font-size: 4vw;
    line-height: 1.1;
}

.pageSection > div {
    flex: 0 0 77%;
}
  
.pageSection p {
    margin-bottom: 20px;
}
  
/*PAGE STYLE CONTENT AND HEADINGS ENDS*/
    
/*GRID CONTAINER SECTION*/
.gridContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*grid-template-rows: minmax(150px, 1fr);*/
    column-gap: 5px;
    row-gap: 5px;
}

.grid-item {
    border: 5px solid #142d4e;
    grid-column: span 4;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    background-color: #597dac;
    background-blend-mode: soft-light;
    font-size: .9rem;
    background-size: 150%;
    color: #b6c8dd;
    text-decoration: none;
}

.surf-report {
    background-image: url("/assets/images/surfreport.jpg");
}
.led-wall {
    background-image: url("/assets/images/ledwall.jpg");
}
.pastel-puzzles {
    background-image: url("/assets/images/pastelpzzl.jpg");
}
.run-buddy {
    background-image: url("/assets/images/runbuddy.png");
}
.xpensifi {
    background-image: url("/assets/images/xpensifi.png");
}

.grid-item:first-child {
    grid-row: span 2;
    grid-column: span 6;
}

.grid-item div {
    background-color: #142d4e;
    padding: 4px 8px;
}


.grid-item h4 {
    font-size: 1.1rem;
}

.grid-item:hover {
    background-color: #00000000;
  }
/*GRID CONTAINER ENDS*/


/*FOOTER STYLE BEGINS*/
footer address{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

footer address a {
    display: inline-block;
    text-decoration: none;
    color:#b6c8dd ;
    font-size: 1.2rem;
    background-color: #142d4e;
    padding: 10px;
}

footer address a:hover {
    background-color: #b6c8dd;
    color: #142d4e;
}
/*FOOTER STYLE ENDS*/